<div class="clearfix" style="padding: 10px; padding-left: 0px">
<img src="https://raw.githubusercontent.com/jupyter/nature-demo/master/images/jupyter-logo.png" width="150px" style="display: inline-block; margin-top: 5px;">
<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width="150px" style="display: inline-block; margin-top: 5px;">
</div>

# A Crash Course for Python (3.x)

This introduction to Python has the form of an iPython notebook. Notebooks allow us to combine formatted text and images with source code, which can be executed, tested, edited, used to generate interactive plots etc. directly from the notebook.

## How to Run the Code?

The code can be run as follows:

1. We select a cell containing the code by clicking on it.
2. We press `SHIFT+ENTER` or click on the play button.

The details of how to use the notebook interface depend on whether you are using Jupyter notebooks, Google Colab notebooks, Kaggle notebooks or a still different version. It will therefore be easiest to look them up in the documentation for the corresponding interface.

# Help

Notebook documentation can be found in menu Help. It is also possible to make inquiry about particular functions, classes, objects etc. by entering a question mark and the identifier of the object, e.g.:

In [0]:
import numpy as np
?np.arange

Similarly, when you highlight some portion of the code and press `SHIFT+TAB`, this will bring up built-in documentation in a floating window. Try this out now!

# The Basics of Python Syntax

Variable types are not declared explicitly. We only write:
```python
a = 7
x = 1.5
s = "a string"
```

As we can see, commands are separated using the newline character. If we want to enter several commands into the same line, we can instead separate them using a semicolon, e.g.:
```python
a = 7; x = 1.5
```

In Python other whitespace character carry a lot of meaning as well. For an instance, code blocks are formed by identing the source code (in C++ the equivalent thing is done using "{}"):
```python
if x == 1 and a < 10:
    y = 5
elif a > 17 or x == 0:
    y = 11
    z = 12
else:
    y = 0
```

The indentation must be consistent (e.g. you always indent using 4 spaces). Incosistent indentation is considered a syntatic error, e.g.:

In [0]:
x = 1; a = 7

if x == 1 and a < 10:
    y = 5
elif a > 17 or x == 0:
    y = 11
      z = 12
else:
    y = 0

IndentationError: unexpected indent (<ipython-input-2-58e7c17fdb60>, line 7)

Comments are marked with character ``#`` in Python, e.g.:

In [0]:
# This is a comment.
x = 2   # assigns value 2 to x

## Function Declaration

Functions are declared using the keyword ``def`` in Python. The body of the function is a code block, therefore it is indented. The return value is returned using the built-in keyword ``return`` similarly to C/C++.

In [0]:
# A function, which sums numbers a and b:
def plus(a, b):
    return a + b

# Outputing Text

## Simple Output

In Python, textual output can be produced using function ``print``, e.g.:

In [0]:
x = 15
print(x)

15

Printing also works with more complex objects, such as entire arrays:

In [0]:
import numpy as np
ar = np.array([1, 2, 3, 4])
print(ar)

[1 2 3 4]

## Formatted Output

Formatted output is a more interesting case. It can be done using string's built-in function ``format``:

In [0]:
x = 15
y = 20
print("The results are x = {}, y = {}.".format(x, y))

The results are x = 15, y = 20.

I.e. we embed one or several placeholders "``{}``" into the string, which will be substituted by their correspoding values when function ``format`` is called â€“ in this case by values of variables ``x`` and ``y``. More detailed information about various kinds of formatting can be found in the Python [manual](https://docs.python.org/3/library/string.html#format-string-syntax).

# The Fundamental Data Types

## Numeric Types

From among the fundamental numeric datatypes we might want to mention the standard ``int`` for integers and ``float`` for real-valued numbers. As we have mentioned already, variable types are not declared explictly in Python. It is sufficient to enter a literal of the corresponding type:

In [0]:
x = 5
print(type(x))    # Funkcia type(obj) returns the type of obj.

y = 5.5
print(type(y))

<class 'int'>
<class 'float'>

Basic operations with numbers:

```python
x = 5

print(x)                              # printing
print(x + 1)                          # addition
print(x - 1)                          # subtraction
print(x * 2)                          # multiplication
print(x / 2)                          # division (the result is a real number)
print(x ** 2)                         # raising to a power
print(x % 2)                          # modulo (the remained after integer division)

x += 3                                # inkrementÃ¡cia; the equivalent of x = x + 3
print(x)

x -= 3                                # decementation; the equivalent x = x - 3
print(x)

x *= 5                                # the equivalent of x = x * 5
print(x)

x /= 5                                # the equivalent of x = x / 5
print(x)

x **= 2                               # the equivalent of x = x ** 2
print(x)
```

Python does not have operators ``x++``, ``x--``, which may be familiar to you from other languages. You should use the following instead:
```python
x += 1
x -= 1
```
<div style="background-color: #C2EB66; padding: 15px; padding-top: 5px; margin-top: 10px; margin-left:-15px">
<h2>Task</h2>

Try some of these operations out now:
</div>

## Bool

Boolean variables are denoted ``True`` (true, logical 1) and ``False`` (false, logical 0).

In [0]:
t = True
f = False
print(type(t))

<class 'bool'>

Boolean operations are denoted by their English names written in small letters:

In [0]:
t = True
f = False

print(t and f)                      # and
print(t or f)                       # or
print(not t)                        # negation
print(t != f)                       # xor

False
True
False
True

## Strings

Strings are enclosed either in single or in double quotation marks in Python. Both kinds of notation are equivalent:

In [0]:
str1 = 'string number 1'
str2 = "string number 2"

The length of a string can be determined using function ``len``:

In [0]:
str1 = 'string number 1'
print(len(str1))

15

Strings can be concatenated using operator ``+``:

In [0]:
str1 = 'string number 1'
str2 = 'string number 2'
str12 = str1 + ', ' + str2
print(str12)

string number 1, string number 2

### Formatting

The above-mentioned way of formatting text using function ``.format(...)`` works at the level of strings â€“ it can be used anywhere, not just when printing stuff:

In [0]:
z = "potatoes"
n = 4
str1 = "I had {} {}.".format(n, z)
print(str1)

I had 4 potatoes.

### Other Operations with Strings

Strings also have many other built-in functions, e.g.:

In [0]:
str1 = '  string number 1   '
print(str1.capitalize())     # Capitalizes the first letter.
print(str1.upper())          # Capitalizes all letters.
print(str1.strip())          # Removes whitespace from the beginning
                             # and the end of the string.

  string number 1
  STRING NUMBER 1
string number 1

## Comparing Values

The values of two variables are compared in a way similar to many other languages (e.g. C++):

In [0]:
x = 1

print(x == 1)                # equality
print(x != 1)                # inequality

str1 = 'string number 1'
str2 = 'string number 2'

print(str1 == str2)          # equality
print(str1 != str2)          # inequality

True
False
False
True